@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

